<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Portfolio Web</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa totam voluptatibus neque quam a vero hic maxime nam dolor ipsa ea quaerat praesentium error harum doloribus, temporibus ex quo et.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">        
        <a href="https://github.com/RenzoSantucci/ProyectoFinal_Santucci_Renzo" target="_blank"> <img src="../../../assets/Portfolio.PNG" class="img-fluid proyectoImg"></a>
    </div>
    <div class="col-sm-1">
        <a href="https://github.com/RenzoSantucci/ProyectoFinal_Santucci_Renzo" target="_blank"><h2>Link</h2></a>
    </div>
    </div>
</div>