<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'/assets/Ingles.png'"
        [showImage]="true"
        [imageWidth]="100"
        [imageHeight]="100"
        [showUnits]="false"
        [showSubtitle] = "false"
        [responsive]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#56adca'"
        [innerStrokeColor]="'Azure'"
        [animation]="true"
        [animationDuration]="1000"
        [lazy]="true"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [imageSrc]="'/assets/HTML5.png'"
        [showImage]="true"
        [imageWidth]="100"
        [imageHeight]="100"
        [showUnits]="false"
        [showSubtitle] = "false"
        [responsive]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#56adca'"
        [innerStrokeColor]="'Azure'"
        [animation]="true"
        [animationDuration]="1000"
        [lazy] = "true"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [imageSrc]="'/assets/CSS.png'"
        [showImage]="true"
        [imageWidth]="100"
        [imageHeight]="100"
        [showUnits]="false"
        [showSubtitle] = "false"
        [responsive]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#56adca'"
        [innerStrokeColor]="'Azure'"
        [animation]="true"
        [animationDuration]="1000"
        [lazy] = "true"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [imageSrc]="'/assets/JavaScript.png'"
        [showImage]="true"
        [imageWidth]="100"
        [imageHeight]="100"
        [showUnits]="false"
        [showSubtitle] = "false"
        [responsive]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#56adca'"
        [innerStrokeColor]="'Azure'"
        [animation]="true"
        [animationDuration]="1000"
        [lazy] = "true"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="100"        
        [imageSrc]="'/assets/GH.png'"
        [showImage]="true"
        [imageWidth]="100"
        [imageHeight]="100"
        [showUnits]="false"
        [showSubtitle] = "false"
        [responsive]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#56adca'"
        [innerStrokeColor]="'Azure'"
        [animation]="true"
        [animationDuration]="1000"
        [lazy] = "true"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'/assets/Grupal.png'"
        [showImage]="true"
        [imageWidth]="100"
        [imageHeight]="100"
        [showUnits]="false"
        [responsive]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#56adca'"
        [innerStrokeColor]="'Azure'"
        [animation]="true"
        [animationDuration]="1000"
        [lazy] = "true"
        ></circle-progress>
    </div>

</div>