<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudios 1</h1> - <h3> (years) </h3> 
            </li>
            <p> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit delectus, facilis dolorum minima rerum voluptates ut voluptate nisi beatae dolorem, explicabo reprehenderit adipisci cum distinctio nam, rem sed deserunt harum.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudios 2</h1> - <h3> (years) </h3> 
            </li>
            <p> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit delectus, facilis dolorum minima rerum voluptates ut voluptate nisi beatae dolorem, explicabo reprehenderit adipisci cum distinctio nam, rem sed deserunt harum.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudios 3</h1> - <h3> (years) </h3> 
            </li>
            <p> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit delectus, facilis dolorum minima rerum voluptates ut voluptate nisi beatae dolorem, explicabo reprehenderit adipisci cum distinctio nam, rem sed deserunt harum.
            </p>
        </ul>
    </div>
</div>