<div class="row">
    <div class="column-md-4"><div class="container">
        <div class="logo">
            <img src="../../../assets/LogoYP.png" id="LogoYP" class="img-fluid">
        </div></div>
        <div class="column-md-4"></div>
        <div class="column-md-4"><div class="redes">
            <a href="https://github.com/RenzoSantucci" target="_blank"> <img src="../../../assets/GH.png" id="github" class="img-fluid"></a>
            <a href="https://www.instagram.com/santucci_renzo/" target="_blank"> <img src="../../../assets/IG.png" id="instagram" class="img-fluid"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged"> Ingreso</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="isLogged"> Salida </button>
        </div></div>
    </div>

</div>

